<footer class="bg-dark">

		<div class="row gx-4 gx-lg-5">
			<div class="footerFirst mb-5">
				<div class="card1 h-100" >
					<div class="card-body bg-dark">
						<h2 class="card-title "><a style="text-decoration:none;color:white;" href="">Sayama Japanese Language Center</a></h2>

						<h6>Kathmandu Metropolitan City-16, Nayabazar Kathmandu, Nepal</h6>
						<h6>Tel : +977 1 4365555, +977 1 4362173</h6>
						<h6>Email : ishwornjls@hotmail.com</h6>
						<h6>Skype: Nepal.japanese.language.school</h6>
						<h6>Viber Line : 9851106428</h6>
					</div>

				</div>
			</div>
			<div class="footerSecond mb-5">
				<div class="card1 h-100">
					<div class="card-body bg-dark" id="footerlink">
						<h4><a href="" >Japan Embassy,Nepal</a></h4>
						<h4><a href="" >Nepal Embassy,Japan</a></h4>
						<h4><a href="" >Nat Test</a></h4>
						<h4><a href="" >JLPT Test</a></h4>


					</div>

				</div>
			</div>
			<div class="footerThird mb-5">
				<div class="card1 h-100">
					<div class="card-body bg-dark" id="footerImage">
						<a href="" th:href="@{http://www.facebook.com}"><img src="/icon/facebook.png" ></a>
						<a href=""><img src="/icon/instagram.png"  ></a>
						<a href=""><img src="/icon/twitter.png" ></a>

					</div>


				</div>
			</div>
		</div>

		<div class="container px-4 px-lg-5">
			<p class="m-0 text-center text-white">Copyright &copy; Your
				Website 2021</p>
		</div>
	</footer>