						<div id="carouselExampleSlidesOnly" class="carousel slide"
							data-bs-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img class="d-block" width="150" height="150" src="assets//cabin.png" alt="frist Image">

									<p class="card-text">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt
							pariatur voluptatem sunt quam eaque, vel, non in id dolore
							voluptates quos eligendi labore.</p>
								</div>
								<div class="carousel-item">
									<img class="d-block" width="150" height="150" src="assets//cake.png" alt="frist Image">

									<p class="card-text">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt
							pariatur voluptatem sunt quam eaque, vel, non in id dolore
							voluptates quos eligendi labore.</p>
								</div>
								<div class="carousel-item">
									<img class="d-block" width="150" height="150" src="assets//circus.png" alt="frist Image">

									<p class="card-text">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt
							pariatur voluptatem sunt quam eaque, vel, non in id dolore
							voluptates quos eligendi labore.</p>
								</div>

							</div>
						</div>